body,
html,
#root,
.app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.presentation {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 40px);
  background: #282c34;
  color: #abb2bf;
}

.error > pre > code {
  color: red !important;
}

pre {
  color: #abb2bf;
  background-color: transparent !important;
  margin: 0;
  padding: 0;
}

.note {
  z-index: 10;
  position: absolute;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  bottom: 30px;
  left: 50%;
  max-width: calc(100vw - 20px);
  max-height: 50vh;
  transform: translate(-50%, 0%);
  overflow-y: scroll;
  transition: all 0.1s ease-in-out;
  opacity: 1;
}

.note.collapsed {
  opacity: 0;
}

.pane {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: transparent;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  display: inline-block;
}

textarea,
.view-container {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.2;
  width: 100%;
  height: 100%;
  font-family: monospace;
  letter-spacing: normal;
  word-spacing: normal;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  white-space: pre;
}

.view-container {
  position: absolute;
  top: 0;
  width: 50%;
  pointer-events: none;
  z-index: 1;
}

textarea {
  caret-color: #528bff;
  color: rgba(0, 0, 0, 0);
  resize: none;
  z-index: 2;
  position: relative;
}

.textarea-lc {
  padding-left: 60px;
}

textarea:focus {
  outline: none;
}

textarea::selection {
  background-color: rgba(255, 255, 255, 0.2);
}

.line-hl {
  max-width: 50vw;
}

.navigation {
  text-align: center;
  position: absolute;
  background-color: #21252b;
  color: #fafafa;
  font-size: 16px;
  top: 0px;
  height: 60px;
  width: 100vw;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation > h2 {
  flex: 4;
}

.navigation > .slides {
  flex: 1;
  padding: 0 10px;
}

.navigation > .buttons {
  flex: 1;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buttons > * {
  padding: 0 10px;
}

/* Elm Syntax Highlight CSS */

pre.elmsh {
  margin: 0;
  text-align: left;
  overflow: auto;
}

code.elmsh {
  padding: 0;
}

.elmsh-line:before {
  content: attr(data-elmsh-lc);
  display: inline-block;
  text-align: right;
  width: 40px;
  padding: 0 20px 0 0;
  opacity: 0.3;
}
