body,
html,
#root,
.app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.presentation {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 40px);
  background: #282c34;
  color: #abb2bf;
}

.error > pre > code {
  color: red !important;
}

pre {
  color: #abb2bf;
  background-color: transparent !important;
  margin: 0;
  padding: 0;
}

.note {
  z-index: 10;
  position: absolute;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.pane {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: transparent;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  display: inline-block;
}

.textarea,
.view-container {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.2;
  width: 100%;
  height: 100%;
  font-family: monospace;
  letter-spacing: normal;
  word-spacing: normal;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  white-space: pre;
}

.view-container {
  position: absolute;
  top: 0;
  width: 50%;
  pointer-events: none;
  z-index: 1;
}

.textarea {
  caret-color: #528bff;
  color: rgba(0, 0, 0, 0);
  resize: none;
  z-index: 2;
  position: relative;
}

.textarea-lc {
  padding-left: 60px;
}

.textarea:focus {
  outline: none;
}

.textarea::selection {
  background-color: rgba(255, 255, 255, 0.2);
}

.navigation {
  text-align: center;
  position: absolute;
  background-color: #fff;
  font-size: 20px;
  top: 0px;
  height: 40px;
  width: 100vw;
  z-index: 101;
}

.navigation > button {
  height: 100%;
  text-align: center;
  width: 100px;
  margin: 0;
}

#error-dialog {
  top: 0;
  right: 0;
  position: absolute;
  background-color: #fff;
  z-index: 666;
  color: red;
  padding: 10px;
}

/* Elm Syntax Highlight CSS */

pre.elmsh {
  margin: 0;
  text-align: left;
  overflow: auto;
}

code.elmsh {
  padding: 0;
}

.elmsh-line:before {
  content: attr(data-elmsh-lc);
  display: inline-block;
  text-align: right;
  width: 40px;
  padding: 0 20px 0 0;
  opacity: 0.3;
}

#worker {
  visibility: hidden;
}
